# discord tokens
PRODBOTTOKEN=your_production_bot_token
DEVBOTTOKEN=your_development_bot_token

# docker hub creds
DOCKER_USER=your_dockerhub_username
DOCKER_TOKEN=your_dockerhub_token

# Pi credentials
PI_USER=your_pi_username
PI_HOST=your_pi_host

# file paths
JSONPATH=./JSON
